// Zapytania o media
@small: ~'only screen and (min-width: 768px)';
@medium: ~'only screen and (min-width: 992px)';
@large: ~'only screen and (min-width: 1400px)';

// Bazowe style tekstu
p , h1, h2, h3, h4, h5 ,h6 {
	margin-bottom: 20px;
	margin-top: 0;
}

h2 {
	.center-text;
}

h1 {
	letter-spacing: -1;
}

p {
	color: @paragraph-color;
}

// akapit intro
.intro-text {
	p {
		.paragraph(16px);
		.center-text;
		color: @text-color;
	}
}

// biale tlo
.alt-bg {
	background: @alternate-bg;
}

// przyciski
.btn {
	.upper;
	font-weight: 700;
	padding: 12px 20px;
	font-size: 14px;
	line-height: 1.4;
	&:focus {
		outline: none !important;
	}
	i {
		.icon(@bright-text-color;22px;22px);
		margin-right: 10px;
		.v-align;
	}
	span {
		.v-align;
	}
}