// Style ogolne stopki
footer {
	background: @dark-bg;
	color: @footer-text-color;
}

.footer-main {
	.container {
		padding-top: 80px;
		margin-bottom: 40px;
		h4 {
			.header-mixin(14px;700);
			margin-bottom: 25px;
			.upper;
		}
		ul {
			.list-style-none;
		}
		a {
			color: darken(@footer-text-color, 10%);
			&:hover {
				text-decoration: none;
				color: lighten(@footer-text-color, 10%);
			}
		}
	}
}

// O nas
.footer-social {
	li {
		.inline-block;
		margin-right: 6px;
		margin-bottom: 3px;
		a {
			.basic-transition;
			.center-text;
			.inline-block;
			.square(30px);
			text-decoration: none;
			&:hover > i {
				color: lighten(@footer-text-color, 20%);
			}
			i {
				.icon(@footer-text-color;16px;28px);
			}
		}
	}
}




