#main-content {
  z-index: 1;
  .relative;
  background: @body-bg;
}

// Sekcja intro
.intro {
  .center-text;
  .padding-top-bottom(20px;0);
  @media @small {
    .padding-top-bottom(100px; 0)
  }
}

.intro-text {
  margin-bottom: 60px;
  @media @small {
    margin-bottom: 130px;
  }
}

// Pasek foto
.photo-bar-single {
  .center-text;
  h4 {
    .basic-transition;
    .header-mixin(16px;600);
    margin-bottom: 10px;
    .upper;
    cursor: pointer;
    &:hover {
      color: @brand-primary;
    }
  }
  h5 {
    .header-mixin(13px;300);
    color: @icon-color;
  }
  img {
    .basic-transition;
    &:hover {
      opacity: 0.65;
    }
  }
}

.photo-bar-image {
  margin: 0;
  background-color: @dark-bg;
}

.photo-bar-info {
  padding: 30px 0 0;
  min-height: 105px;
  border-left: 1px solid lighten(@border-color,7%);
}

// Sekcja nasze usługi
.our-services {
  .padding-top-bottom(100px;90px);
}

.our-services-box {
  .center-text;
  h4 {
    .header-mixin(18px;600);
    .upper;
  }
  span {
    .basic-border(2px; solid; @icon-color);
    .icon-span-round(88px);
    margin-bottom: 30px;
    i {
      .relative;
      .icon(@icon-color; 32px; 88px);
      &:after {
        .square(88px);
        content: " ";
        .inline-block;
        line-height: 88px;
        border-radius: 50%;
        background: @brand-primary;
        opacity: 0;
        position: absolute;
        z-index: -1;
        top: -2%;
        left: -80%;
        transform: scale(0);
        transition: transform 0.3s, opacity 0.3s;
      }
    }
  }
  &:hover span {
    border: transparent;
    i {
      color: @bright-text-color;
    }
    i:after {
      opacity: 1;
      transform: scale(1);
    }
  }
}